<mat-card class="reminder-card">
  <mat-card-header>
    <mat-card-title>
      <mat-form-field class="reminder-title">
        <input
          [matTooltip]="content"
          class="reminder-title"
          matInput
          type="text"
          [(ngModel)]="content"
          placeholder="Remind me to.."
        />
      </mat-form-field>
    </mat-card-title>
    <br />
    <br />
    <br />
    <br />
    <br />
    <button
      mat-mini-fab
      matTooltip="Save Reminder"
      color="accent"
      class="pull-right save-btn top-right"
      aria-label="Save Reminder"
      tabindex="9"
      (click)="saveReminder()"
    >
      <mat-icon class="close-btn">save</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-footer class="footer">
    <div class="time">
      <mat-form-field>
        <input
          matInput
          [ngxMatDatetimePicker]="picker"
          placeholder="Remind me at"
          [formControl]="dateControl"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker
          #picker
          showSpinners="true"
          showSeconds="true"
          color="primary"
          enableMeridian="false"
        >
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
  </mat-card-footer>
</mat-card>
