.container {
  width: 100%;
  height: 100%;
}

::ng-deep .mat-tooltip {
  font-size: 90%;
}

.active-list-item {
  color: #3b3b3b !important; /* Note: You could also use a custom theme */
  background-color: rgb(228, 228, 228) !important;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

mat-nav-list {
  margin-right: 10px;
}

mat-list-item {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

  margin-top: 5px;
  margin-bottom: 5px;
}

mat-sidenav {
  overflow: hidden;
}

.icon-container {
  margin: 0 5px;
}

.page-sidenav {
  box-shadow: 10px 14px 28px rgba(0, 0, 0, 0.356),
    0 10px 10px rgba(0, 0, 0, 0.336);
}

.nav-container {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}

mat-sidenav-content {
  background-color: #e8e8e8;
}

.add-new {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 10;
}

.page-title {
  font-size: 50px;
  padding: 10px;
  padding-top: 50px;
  text-align: center;
  color: #f9f4f4;
}

.page-header {
  padding: 5px;
}

.user {
  position: absolute;
  bottom: 7%;
}

.logout {
  position: absolute;
  bottom: 10px;
  width: 90% !important;
}
