<mat-sidenav-container
  id="sidenav"
  class="sidenav-container"
  fullscreen
  autosize
>
  <mat-sidenav #sidenav class="page-sidenav" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <div class="nav-container">
          <button
            mat-icon-button
            (click)="opened = !opened"
            matTooltip="Open Sidebar"
            matTooltipShowDelay="1000"
          >
            <mat-icon *ngIf="!opened">chevron_right</mat-icon>
            <mat-icon *ngIf="opened">chevron_left</mat-icon>
          </button>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/notes">
        <p matLine *ngIf="opened">Notes</p>
        <div
          class="icon-container"
          matTooltip="Notes"
          matTooltipShowDelay="1000"
        >
          <mat-icon mat-list-icon>sticky_note_2</mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/draw">
        <p matLine *ngIf="opened">Draw</p>
        <div
          class="icon-container"
          matTooltip="Draw"
          matTooltipShowDelay="1000"
        >
          <mat-icon mat-list-icon>gesture</mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/reminders">
        <p matLine *ngIf="opened">Reminders</p>
        <div
          class="icon-container"
          matTooltip="Reminders"
          matTooltipShowDelay="1000"
        >
          <mat-icon mat-list-icon>notifications</mat-icon>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
