<canvas-whiteboard
  #canvasWhiteboard
  [drawButtonClass]="'drawButtonClass'"
  [drawButtonText]="'Draw'"
  [clearButtonClass]="'clearButtonClass'"
  [clearButtonText]="'Clear'"
  [undoButtonText]="'Undo'"
  [undoButtonEnabled]="true"
  [redoButtonText]="'Redo'"
  [redoButtonEnabled]="true"
  [colorPickerEnabled]="true"
  [fillColorPickerText]="'Fill'"
  [strokeColorPickerText]="'Stroke'"
  [saveDataButtonEnabled]="true"
  [saveDataButtonText]="'Save'"
  [lineWidth]="5"
  [strokeColor]="'rgb(0,0,0)'"
  [shouldDownloadDrawing]="true"
>
</canvas-whiteboard>
