.container {
  width: 100%;
  height: 100%;
}

.mat-button-toggle-checked {
  background-color: #999999;
  color: rgb(53, 53, 53);
}

@keyframes MyAnimation {
  0% {
    padding-left: 100px;
  }
  100% {
    padding-left: 0px;
  }
}

.my-animation {
  animation: MyAnimation 1s;
}

.page-title {
  height: 12%;
  padding: 10px;
  color: #495464;
  font-family: "Comfortaa", cursive;
  font-size: 50px;
  display: grid;
  place-items: center;
}

.note-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  float: left;
}

.page-header {
  padding: 5px;
}

.empty-outer {
  height: 60%;
  display: grid;
  place-items: center;
}

.empty {
  display: grid;
  place-items: center;
  font-family: "Indie Flower", cursive;
  font-size: 350%;
  color: #495464;
  height: 100%;
  width: 100%;
  text-align: center;
}

.sync {
  margin-right: 2%;
  width: 50px;
  height: 50px;
  background-color: #494949;
  color: #ffffff;
}

.sync:focus {
  animation: spin 1s 3 ease-in-out;
  box-shadow: none;
}

.add-new {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 30px;
  background-color: rgb(88, 88, 88);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  z-index: 10;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.breathing-button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.add:hover {
  animation: spin 0.2s linear;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

.breathing-button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 30px;
  background-color: rgb(88, 88, 88);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  z-index: 10;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  -webkit-animation: breathing 5s ease-out infinite normal;
  animation: breathing 5s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  100% {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
}

.show-pinned-all {
  float: right;
  margin-right: 10px;
  color: black;
  font-size: 30px;
  background-color: transparent;
  box-shadow: none;
  border-radius: 30px;
}

.toolbar {
  overflow: hidden;
  margin-top: -5px;
  background-color: #bbbbbb4b;
  width: 100%;
  border-radius: 20px;
  padding-right: 15px;
  margin-bottom: 10px;
}

.tools {
  display: flex;
  float: right;
  align-items: center;
}

.rotate {
  transform: rotate(35deg);
  margin-right: 8px;
}

.search-by-color {
  margin-top: 15px;
  float: right;
  margin-right: 7px;
}

.color-select {
  color: #495464;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #4a4e4d !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #4a4e4d !important;
}

::ng-deep .mat-input-element {
  caret-color: #4a4e4d !important;
}

::ng-deep .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6) !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #4a4e4d !important;
}

::ng-deep .mat-select-value-text {
  color: rgba(0, 0, 0, 0.88);
}

::ng-deep .mat-select-arrow {
  color: rgba(0, 0, 0, 0.88);
}

.loading {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999999;
  backdrop-filter: saturate(130%) blur(3px);
  -webkit-backdrop-filter: saturate(130%) blur(3px);
}

.loading-span {
  display: flex;
  justify-content: center;
  margin-top: 23%;
}

/*
loading animation
*/

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #fff;
  box-sizing: border-box;
  animation: shadowExpandX 1s linear infinite alternate;
}

@keyframes shadowExpandX {
  0% {
    box-shadow: 0 0, 0 0;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: -24px 0, 24px 0;
    color: rgba(255, 255, 255, 0.8);
  }
}
