<div class="container">
  <div class="row page-title">Quick Notes</div>

  <div class="toolbar">
    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      value="all"
      class="show-pinned-all"
    >
      <mat-button-toggle
        aria-label="Show all notes"
        matTooltip="All Notes"
        matTooltipPosition="above"
        (click)="showPinned('all')"
        value="all"
      >
        <mat-icon>view_module</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        aria-label="Show pinned notes"
        matTooltip="Pinned Notes"
        matTooltipPosition="above"
        (click)="showPinned('pin')"
        value="pin"
      >
        <mat-icon class="rotate">push_pin</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <div class="search-by-color">
      <mat-form-field appearance="outline" class="color-select">
        <mat-label>Filter notes by color(s)</mat-label>
        <mat-select [formControl]="colors" multiple>
          <mat-option
            *ngFor="let color of colorList"
            (click)="filterByColors()"
            [value]="color.code"
            >{{ color.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <button
    [ngClass]="empty ? 'breathing-button shadow' : 'add-new shadow'"
    mat-fab
    color="accent"
    (click)="addNew()"
    matTooltip="Add New Note"
    matTooltipShowDelay="1000"
    matTooltipPosition="left"
  >
    <mat-icon class="add">add</mat-icon>
  </button>

  <ng-container *ngIf="empty; else nonEmptyTemplate">
    <div class="empty-outer">
      <span class="empty" *ngIf="showAll">
        You don't have any notes<br /><br /><br />Add one by clicking add button
      </span>
      <span class="empty" *ngIf="!showAll">
        You don't have any pinned notes<br /><br /><br />Add one by clicking pin
        icon at the bottom of a note
      </span>
    </div>
  </ng-container>
  <ng-template #nonEmptyTemplate>
    <div class="row notes-container">
      <div *ngFor="let note of notes" @fadeIn class="note-div">
        <app-note
          [id]="note.id"
          [title]="note.title"
          [content]="note.content"
          [activeColor]="note.color"
          [locked]="note.locked"
          [pinned]="note.pinned"
        ></app-note>
      </div>
    </div>
  </ng-template>
</div>
