.note-card {
  width: 40%;
  height: 25%;
  margin: 2%;
  border-radius: 15px;
  float: left;
}

.note-title {
  width: 90%;
}

.note-content {
  width: 95%;
  margin-left: 2%;
  resize: none;
}

.note-content-container {
  margin-top: -20px;
}

/* css for scrollbars */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: gray;
}

::-webkit-scrollbar-thumb {
  background: rgb(170, 169, 169);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:host ::ng-deep .ck-editor__editable_inline {
  color: black;
  height: 150px;
}

.saved-data {
  height: 150px;
}

.footer {
  padding-right: 15px;
}
