<mat-card class="note-card">
  <mat-card-header>
    <mat-card-title>
      <mat-form-field>
        <input
          class="note-title"
          matInput
          type="text"
          [(ngModel)]="title"
          placeholder="Note Title"
        />
      </mat-form-field>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="note-content-container">
    <!-- EDITOR -->
    <div id="quill">
      <quill-editor
        id="editor"
        theme="bubble"
        [ngModel]="content"
        [modules]="modules"
        placeholder="Type here..."
        [styles]="{ height: '200px' }"
        [disabled]="locked"
      ></quill-editor>
    </div>
  </mat-card-content>
  <mat-card-footer class="footer">
    <button mat-button class="pull-right" (click)="onLock()">
      <mat-icon>{{ lockBtn }}</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>
